Repository ToastitProject/toastit_v2_back, pull requests merged in 2024-12, with the labels that each got.

#13 ✨ 새 기능 : feature/image cloud aws
  .DS_Store
  build.gradle
  src/main/java/org/toastit_v2/core/common/application/config/aws/AwsConfig.java
  src/main/java/org/toastit_v2/core/common/infrastructure/aws/AWSS3FileHandlerImpl.java
  src/main/java/org/toastit_v2/feature/aws/application/service/S3UpLoadService.java
  src/main/java/org/toastit_v2/feature/aws/application/service/S3UpLoadServiceImpl.java
  src/main/java/org/toastit_v2/feature/aws/application/util/FileNameService.java
  src/main/java/org/toastit_v2/feature/aws/web/S3UpLoadController.java
  src/main/resources/application-dev.yml
  src/test/java/org/toastit_v2/feature/aws/service/S3UpLoadServiceImplTest.java
  src/test/java/org/toastit_v2/feature/aws/service/S3UpLoadServiceLocalStack.java
Labels: 🔥 BREAKING CHANGE, 📛 Rename, ☔️ Test

#16 ✨ 새 기능 : feature/basecocktail 검색 기능 구현
  .github/ISSUE_TEMPLATE/issues_template.md
  .github/PULL_REQUEST_TEMPLATE.md
  src/main/java/org/toastit_v2/core/common/application/code/CommonExceptionCode.java
  src/main/java/org/toastit_v2/core/common/application/config/security/SecurityConfig.java
  src/main/java/org/toastit_v2/feature/basecocktail/application/port/CocktailRepository.java
  src/main/java/org/toastit_v2/feature/basecocktail/application/service/CocktailService.java
  src/main/java/org/toastit_v2/feature/basecocktail/application/service/CocktailServiceImpl.java
  src/main/java/org/toastit_v2/feature/basecocktail/domain/AlcoholType.java
  src/main/java/org/toastit_v2/feature/basecocktail/domain/Cocktail.java
  src/main/java/org/toastit_v2/feature/basecocktail/domain/CocktailCreate.java
  src/main/java/org/toastit_v2/feature/basecocktail/domain/CocktailSearch.java
  src/main/java/org/toastit_v2/feature/basecocktail/domain/SearchType.java
  src/main/java/org/toastit_v2/feature/basecocktail/infrastructure/persistence/mongodb/CocktailDocument.java
  src/main/java/org/toastit_v2/feature/basecocktail/infrastructure/persistence/mongodb/CocktailRepositoryImpl.java
  src/main/java/org/toastit_v2/feature/basecocktail/infrastructure/persistence/mongodb/MongoCocktailRepository.java
  src/main/java/org/toastit_v2/feature/basecocktail/infrastructure/persistence/mongodb/custom/CustomCocktailRepository.java
  src/main/java/org/toastit_v2/feature/basecocktail/infrastructure/persistence/mongodb/custom/CustomCocktailRepositoryImpl.java
  src/main/java/org/toastit_v2/feature/basecocktail/web/CocktailController.java
  src/main/java/org/toastit_v2/feature/basecocktail/web/request/CocktailCreateRequest.java
  src/main/java/org/toastit_v2/feature/basecocktail/web/request/CocktailSearchRequest.java
  src/main/java/org/toastit_v2/feature/basecocktail/web/request/CocktailUpdateRequest.java
  src/main/java/org/toastit_v2/feature/basecocktail/web/response/CocktailDetailResponse.java
  src/main/java/org/toastit_v2/feature/basecocktail/web/response/CocktailResponse.java
  src/main/resources/application.yml
  src/test/java/org/toastit_v2/feature/basecocktail/infrastructure/persistence/mongodb/CocktailRepositoryTest.java
Labels: ✨ Feat, 🐞 Fix

#18 ✨ 새 기능 : feature/craftcocktail 레시피 입력 기능 추가
  src/main/java/org/toastit_v2/feature/craftcockatil/application/port/CraftCocktailRepository.java
  src/main/java/org/toastit_v2/feature/craftcockatil/application/service/CraftCocktailService.java
  src/main/java/org/toastit_v2/feature/craftcockatil/application/service/CraftCocktailServiceImpl.java
  src/main/java/org/toastit_v2/feature/craftcockatil/domain/CraftCocktail.java
  src/main/java/org/toastit_v2/feature/craftcockatil/infrastructure/CraftCocktailEntity.java
  src/main/java/org/toastit_v2/feature/craftcockatil/infrastructure/CraftCocktailRepositoryImpl.java
  src/main/java/org/toastit_v2/feature/craftcockatil/infrastructure/JpaCraftCocktailRepository.java
  src/main/java/org/toastit_v2/feature/craftcockatil/web/CraftCocktailController.java
  src/main/java/org/toastit_v2/feature/craftcockatil/web/response/CraftCocktailResponse.java
Labels: ✨ Feat
